[submodule "src/state/Boot"]
	path = src/state/Boot
	url = https://github.com/IzK-ArcOS/v6-Boot
[submodule "src/state/Crash"]
	path = src/state/Crash
	url = https://github.com/IzK-ArcOS/v6-Crash
[submodule "src/state/Login"]
	path = src/state/Login
	url = https://github.com/IzK-ArcOS/v6-Login
[submodule "src/state/FirstTimeSetup"]
	path = src/state/FirstTimeSetup
	url = https://github.com/IzK-ArcOS/v6-FirstTimeSetup
[submodule "src/state/ArcTerm"]
	path = src/state/ArcTerm
	url = https://github.com/IzK-ArcOS/v6-ArcTerm
[submodule "src/state/Desktop"]
	path = src/state/Desktop
	url = https://github.com/IzK-ArcOS/v6-Desktop
[submodule "src/apps/Wallpaper"]
	path = src/apps/Wallpaper
	url = https://github.com/IzK-ArcOS/v6-Wallpaper
[submodule "src/apps/ArcTerm"]
	path = src/apps/ArcTerm
	url = https://github.com/IzK-ArcOS/v6-ArcTerm-App
[submodule "src/state/Shell"]
	path = src/apps/Shell
	url = https://github.com/IzK-ArcOS/v6-Shell
[submodule "src/apps/Settings"]
	path = src/apps/Settings
	url = https://github.com/IzK-ArcOS/v6-Settings
[submodule "src/apps/AppInfo"]
	path = src/apps/AppInfo
	url = https://github.com/IzK-ArcOS/v6-AppInfo
[submodule "src/apps/LoggerApp"]
	path = src/apps/LoggerApp
	url = https://github.com/IzK-ArcOS/v6-LoggerApp
[submodule "src/apps/ProcessManager"]
	path = src/apps/ProcessManager
	url = https://github.com/IzK-ArcOS/v6-ProcessManager
[submodule "src/apps/Qlorb"]
	path = src/apps/Qlorb
	url = https://github.com/IzK-ArcOS/v6-Qlorb
[submodule "src/apps/SecureContext"]
	path = src/apps/SecureContext
	url = https://github.com/IzK-ArcOS/v6-SecureContext
[submodule "src/apps/ServiceInfo"]
	path = src/apps/ServiceInfo
	url = https://github.com/IzK-ArcOS/v6-ServiceInfo
[submodule "src/apps/LightsOff"]
	path = src/apps/LightsOff
	url = https://github.com/IzK-ArcOS/v6-LightsOff
[submodule "src/apps/Exit"]
	path = src/apps/Exit
	url = https://github.com/IzK-ArcOS/v6-ExitApp
[submodule "src/apps/FileManager"]
	path = src/apps/FileManager
	url = https://github.com/IzK-ArcOS/v6-FileManager
[submodule "src/apps/LoadSaveDialog"]
	path = src/apps/LoadSaveDialog
	url = https://github.com/IzK-ArcOS/v6-LoadSaveDialog
[submodule "src/apps/TextEditor"]
	path = src/apps/TextEditor
	url = https://github.com/IzK-ArcOS/v6-TextEditor
[submodule "src/apps/FsProgress"]
	path = src/apps/FsProgress
	url = https://github.com/IzK-ArcOS/v6-FsProgress
[submodule "src/apps/OpenWith"]
	path = src/apps/OpenWith
	url = https://github.com/IzK-ArcOS/v6-OpenWithApp
[submodule "src/apps/MarkDownViewer"]
	path = src/apps/MarkDownViewer
	url = https://github.com/IzK-ArcOS/v6-MarkDownViewer
[submodule "src/apps/ImageViewer"]
	path = src/apps/ImageViewer
	url = https://github.com/IzK-ArcOS/v6-ImageViewer
[submodule "src/apps/IconLibrary"]
	path = src/apps/IconLibrary
	url = https://github.com/IzK-ArcOS/v6-IconLibrary
[submodule "src/apps/DonutApp"]
	path = src/apps/DonutApp
	url = https://github.com/IzK-ArcOS/v6-DonutApp
[submodule "src/apps/AcceleratorOverview"]
	path = src/apps/AcceleratorOverview
	url = https://github.com/IzK-ArcOS/v6-AcceleratorOverview
[submodule "src/apps/MediaPlayer"]
	path = src/apps/MediaPlayer
	url = https://github.com/IzK-ArcOS/v6-MediaPlayer
[submodule "src/apps/HelpSupport"]
	path = src/apps/HelpSupport
	url = https://github.com/IzK-ArcOS/v6-HelpSupport
[submodule "src/apps/MessagingApp"]
	path = src/apps/MessagingApp
	url = https://github.com/IzK-ArcOS/v6-MessagingApp
[submodule "src/apps/BugReports"]
	path = src/apps/BugReports
	url = https://github.com/IzK-ArcOS/v6-BugReportsApp
[submodule "src/state/ServerSelect"]
	path = src/state/ServerSelect
	url = https://github.com/IzK-ArcOS/v6-ServerSelect
[submodule "src/apps/ArcFind"]
	path = src/apps/ArcFind
	url = https://github.com/IzK-ArcOS/v6-ArcFind
[submodule "src/apps/Calculator"]
	path = src/apps/Calculator
	url = https://github.com/IzK-ArcOS/v6-Calculator
