[submodule "src/state/Boot"]
	path = src/state/Boot
	url = https://github.com/IzK-ArcOS/v6-Boot
[submodule "src/state/Crash"]
	path = src/state/Crash
	url = https://github.com/IzK-ArcOS/v6-Crash
[submodule "src/state/Login"]
	path = src/state/Login
	url = https://github.com/IzK-ArcOS/v6-Login
[submodule "src/state/FirstTimeSetup"]
	path = src/state/FirstTimeSetup
	url = https://github.com/IzK-ArcOS/v6-FirstTimeSetup
[submodule "src/state/ArcTerm"]
	path = src/state/ArcTerm
	url = https://github.com/IzK-ArcOS/v6-ArcTerm
[submodule "src/state/Desktop"]
	path = src/state/Desktop
	url = https://github.com/IzK-ArcOS/v6-Desktop
[submodule "src/apps/Wallpaper"]
	path = src/apps/Wallpaper
	url = https://github.com/IzK-ArcOS/v6-Wallpaper
[submodule "src/apps/ArcTerm"]
	path = src/apps/ArcTerm
	url = https://github.com/IzK-ArcOS/v6-ArcTerm-App
