[submodule "src/state/Boot"]
	path = src/state/Boot
	url = https://github.com/IzK-ArcOS/v6-Boot
[submodule "src/state/Crash"]
	path = src/state/Crash
	url = https://github.com/IzK-ArcOS/v6-Crash
[submodule "src/state/Login"]
	path = src/state/Login
	url = https://github.com/IzK-ArcOS/v6-Login
[submodule "src/state/FirstTimeSetup"]
	path = src/state/FirstTimeSetup
	url = https://github.com/IzK-ArcOS/v6-FirstTimeSetup
