{
  "useTabs": false,
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "cursorOffset": -1,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "rangeStart": 0,
  "requirePragma": false,
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": false,
  "svelteAllowShorthand": false,
  "svelteBracketNewLine": false,
  "svelteIndentScriptAndStyle": false,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": false
}
