window div.titlebar div.title {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 18px;
}

window div.titlebar div.title span.title-wrapper {
  display: flex;
  align-items: center;
  gap: inherit;
}

window div.titlebar span.title-text {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

window div.titlebar div.title img {
  height: 16px;
  min-width: 16px;
}
