img.spinner-svg {
  vertical-align: middle;
}

img.spinner-svg.hide {
  opacity: 0 !important;
}

div.desktop[class*="light"] img.spinner-svg {
  filter: brightness(0.4);
}

.html-spinner {
  --size: 20px;
  --t: 2px;
  --pri: currentColor;
  --sec: transparent;
  border-radius: 50%;
  border: var(--t) solid #0000;
  border-top: var(--t) solid #0000;
  width: var(--size);
  height: var(--size);
  vertical-align: middle;
  opacity: 0;
  transition: all 0.3s !important;
}

.html-spinner.going {
  border: var(--t) solid var(--pri);
  border-top: var(--t) solid var(--sec);
  animation: spin 1s linear infinite;
  opacity: 1;
}

window div.body button:not(.reset) div.html-spinner {
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
