@import url("./window/core.css");
@import url("./window/tabs.css");
@import url("./window/titlebar.css");
@import url("./window/body.css");
@import url("./window/elements.css");
@import url("./window/maximize.css");
@import url("./window/minimize.css");
@import url("./window/focus.css");
@import url("./window/bigtb.css");
@import url("./window/overlay.css");
@import url("./window/colored.css");
@import url("./window/fullscreen.css");
@import url("./window/altmenu.css");
@import url("./window/snapping.css");

window:not(.core) {
  --titlebar-height: 30px;
  position: fixed;
  color: var(--fg);
  background-color: var(--win-bg);
  border: var(--win-border);
  border-radius: var(--win-border-rad);
  overflow: hidden;

  font-size: var(--font-size);
  font-family: var(--font);
  box-shadow: 0 5px 15px 5px #0003;
  margin-top: 50px;
  opacity: 0;
  visibility: hidden;
  scale: 0.9;
}

window *::selection {
  background-color: var(--accent-transparent);
}

div:not(.noani) window:not(.core) {
  transition: all 0.3s, z-index 0s, pointer-events 0s, transform 0s,
    backdrop-filter 0s, width 0s, height 0s;
}

/* 
window:not(.visible) {
  transform: none !important;
}
 */
window.visible:not(.closing) {
  opacity: 1;
  visibility: visible;
  scale: 1;
  margin-top: 0;
}

window.resizable {
  resize: both;
}
