@import url("./cursors/imports.css");

* {
  cursor: var(--cur-normal);
}

window > div.body a,
window > div.body a *,
window > div.body button,
window > div.body button *,
window > div.body input,
window > div.body input *,
window > div.body select,
window > div.body select * {
  cursor: var(--cur-hand) !important;
}

input:not([type*="checkbox"]),
textarea {
  cursor: var(--cur-beam) !important;
}

:disabled,
:disabled * {
  cursor: var(--cur-forbidden) !important;
}

div.app.cursor-busy,
div.app.cursor-busy * {
  cursor: var(--cur-busy) !important;
}
