@import url("./cursors/imports.css");

* {
  cursor: var(--cur-normal);
}

.desktop a,
.desktop a *,
.desktop button,
.desktop button *,
.desktop input,
.desktop input *,
.desktop select,
.desktop select * {
  cursor: var(--cur-hand);
}

.desktop input:not([type*="checkbox"]),
.desktop textarea {
  cursor: var(--cur-beam) !important;
}

.desktop :disabled,
.desktop :disabled * {
  cursor: var(--cur-forbidden) !important;
}

div.app.cursor-busy,
div.app.cursor-busy * {
  cursor: var(--cur-busy) !important;
}
