@import url("./fonts.css");
@import url("./components.css");
@import url("./themes.css");
@import url("./globals.css");
@import url("./app.css");
@import url("./cursors.css");
@import url("./markdownrenderer.css");

* {
  box-sizing: border-box;
  user-select: none;
  outline: none;
  font-family: inherit;
  -webkit-user-drag: none;
}

*:not(.material-icons-round) {
  font-family: var(--font);
}

div#app *:not(window)::after,
div#app *:not(window),
div#app *:not(window)::before {
  transition: all 0.3s, color 0.1s, top 0s, left 0s;
}

div.app {
  overflow: hidden;
}
