@import url("./fonts.css");
@import url("./components.css");
@import url("./themes.css");
@import url("./globals.css");
@import url("./app.css");
@import url("./cursors.css");
@import url("./markdownrenderer.css");

* {
  box-sizing: border-box;
  user-select: none;
  outline: none;
  font-family: inherit;
  -webkit-user-drag: none;
  min-width: 0; /* Fix Flexbox weirdness, somehow*/
}

*:not([class*="material-icons"]) {
  font-family: var(--font);
}

div#app *:not(window)::after,
div#app *:not(window),
div#app *:not(window)::before {
  transition: all 0.3s, color 0.1s, top 0s, left 0s;
}

div.app {
  overflow: hidden;
}

div.app.safemode::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000000000000000000000000000000000000000000000000000000000;
  border: #fb0 1px solid !important;
  pointer-events: none;
}

div.app.safemode *::after,
div.app.safemode *::before,
div.app.safemode * {
  border-radius: 0 !important;
}
