div.markdownrenderer h1 {
  margin: 24px 0 16px;
  padding-bottom: 8.4px;
  border-bottom: var(--button-bg) 1px solid;
}

div.markdownrenderer > *:first-child {
  margin-top: 0 !important;
}

div.markdownrenderer h2 {
  margin: 24px 0 16px;
  padding: 0 0 6.3px;
  border-bottom: var(--button-bg) 1px solid;
}

div.markdownrenderer ul {
  min-width: 100%;
  list-style: initial;
  margin: 0 0 16px;
  padding-left: 2em;
}

div.markdownrenderer ul li {
  display: list-item;
  margin: 0;
}
div.markdownrenderer ul li + li {
  margin-top: 0.25em;
}

div.markdownrenderer p {
  margin: 0 0 16px !important;
}

div.markdownrenderer blockquote {
  margin: 0 0 16px;
  padding: 7px 14px;
  border-left: var(--button-hover-bg) 0.25em solid;
  background-color: var(--button-bg);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

div.markdownrenderer blockquote > p {
  margin: 0 !important;
}

div.markdownrenderer blockquote hr {
  border: var(--button-hover-bg) 1px solid;
  margin: 10px -5px;
}

div.markdownrenderer pre {
  padding: 16px;
  background-color: var(--button-bg);
  line-height: 1.45;
  overflow: auto;
  border-radius: var(--win-border-rad);
}

div.markdownrenderer pre code {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

div.markdownrenderer code {
  font-family: "Source Code Pro", monospace !important;
  background-color: var(--button-active-bg);
  padding: 1px 5px !important;
  margin: 0 2px;
  border-radius: 5px;
}

div.markdownrenderer table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

div.markdownrenderer table tr {
  background-color: inherit;
  border-top: var(--button-bg) 1px solid;
}

div.markdownrenderer table th,
div.markdownrenderer table td {
  padding: 6px 13px;
  border: 1px solid var(--button-hover-bg);
  text-align: left;
}

div.markdownrenderer table th {
  background-color: var(--button-bg);
  text-align: center;
}

div.markdownrenderer hr {
  padding: 0;
  margin: 15px 0;
  border: none;
  border-bottom: var(--button-bg) 1px solid;
}

div.markdownrenderer img {
  box-sizing: content-box;
  border-radius: 5px;
  max-height: 25em;
}

div.markdownrenderer img:not([alt*="icon"]) {
  margin: 10px 0;
}
