window div.body {
  height: calc(100% - var(--titlebar-height));
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  overflow: auto;
  font-size: var(--font-size);
}

window:not(.core) div.body {
  background-color: var(--win-bg);
}

window.glass div.body {
  background-color: transparent;
}
