@import url("./elements/checkbox.css");
@import url("./elements/fields.css");
@import url("./elements/glass.css");
@import url("./elements/button.css");
@import url("./elements/suggested.css");
@import url("./elements/link.css");
@import url("./elements/text.css");
@import url("./elements/splitpanes.css");

window div.body button:not(.reset):not(.material-icons-round):hover,
window div.body input:hover,
window div.body select:hover {
  box-shadow: 0 1px 2px 1px #00000033;
}

window button.fullwidth,
window select.fullwidth,
window input.fullwidth {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  margin-bottom: 5px;
}
