window:not(.core):not(.closing).maximized {
  transform: translate3d(0px, 0px, 0px) !important;
  width: 100% !important;
  height: 100% !important;
  max-width: unset !important;
  max-height: unset !important;
  border-width: 0px;
  border-radius: 0;
}