@import url("./titlebar/title.css");
@import url("./titlebar/controls.css");

window div.titlebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--titlebar-height);

  z-index: 100;
  background-color: var(--win-bg);
  padding: 5px;
  font-size: 12px;
  position:relative;
}

window div.titlebar.left {
  flex-direction: row-reverse;
}

window div.titlebar.center div.title span.title-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  display:flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
